
{% extends 'base.html' %}

    {% block css %}





    <link rel="stylesheet"
          href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="shortcut icon"
          href="/static/images/icon.png">

    <link rel="stylesheet" href="/static/css/drift.css">
{% endblock %}

{% block quanbu %}




<div class='container'>
    <div class="row">



        <div id="alert" class="alert alert-warning" role="alert">{{ msg }}</div>
    </div>

    <div style="margin-top:100px;" class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-2">
                    <a id='nav_url' href="/">去首页</a>
                </div>
            </div>
            <div class="bg-container">
                <div class="row">
                    <div class="col-md-12 text-center bg-head">
                        <span class="drift-title">向<span
                                class="space">{{ gifts.uid.name }}</span>请求这本书</span>
                    </div>
                </div>
                <div style="margin-top:15px;" class="row">
                    <div class="col-md-10 col-md-offset-1 flex-vertical gifter-container">
                        <span class="sub-title-color">以下是书籍拥有者信息，诚信度供你参考:</span>
                        <span style="margin-top:10px; margin-bottom:10px;font-size: 20px;color: #5e5e5e">{{ gifts.uid.name }}</span>
                        <div><span
                                class="description-font">鱼豆：</span><span>{{ gifts.uid.beans }}</span>
                        </div>
                        <div><span
                                class="description-font">接受/送出书籍：</span><span>{{ gifts.uid.receive_counter }}/{{ gifts.uid.send_counter }}</span>
                        </div>
                    </div>
                </div>
                <div style="margin-top:10px;" class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <span class="main-color">本次交易将消耗你1个鱼豆，你当前还有{{ user.beans }}个鱼豆</span>
                    </div>
                </div>
                <form action="{% url 'app:order' %}?id={{ id }}" method="post">
                    {% csrf_token %}
                    <div style="margin-top:20px;" class="row">
                        <div class="col-md-10 col-md-offset-1 flex-vertical input-margin">
                            <label class="sub-title-color" for="recipient_name">收件人姓名</label>
                            <div class="row">
                                <div class="col-md-5">
                                    <input placeholder="请填写收件人姓名" id="recipient_name"
                                           name="recipient_name"
                                           class="normal-input btn-block form-control"
                                           value="">
                                </div>
                            </div>
                            <label class="sub-title-color" for="mobile">联系电话</label>
                            <div class="row">
                                <div class="col-md-5">
                                    <input placeholder="如13818181818" id="mobile"
                                           name="mobile"
                                           class="normal-input btn-block form-control"
                                           value="">
                                </div>
                            </div>
                            <label class="sub-title-color" for="address">书籍收件地址</label>
                    <textarea class="form-control" rows="3" id="address" name="address"
                              placeholder="如，张三 北京市清华大学666室。请务必确保该地址能够收到书籍"></textarea>
                            <label class="sub-title-color" for="message">对他 / 她
                                说的话</label>
                        <textarea class="form-control" id="message" name="message"
                                  rows="4"
                                  placeholder="如有一些特别的要求，可以在这里填写"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div style="position: relative;left:-20px;"
                             class="col-md-5 col-md-offset-4 flex-vertical text-center">
                            <input style="margin-top:12px;" type="submit"
                                   class="btn btn-big btn-block" value="生成订单" >
                        <span style="margin-top:15px;"
                              class="main-color">提交信息，等待<span style="font-size: 20px;color: #5e5e5e">{{ gifts.uid.name }}</span>将书籍邮寄给你</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block jss %}



    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/drift.js"></script>

{% endblock %}
