
{% extends 'base.html' %}
{% load fetchs %}


{% block css %}



    <link rel="stylesheet"
          href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="shortcut icon"
          href="/static/images/icon.png">

{% endblock %}

{% block content %}



    <div class='container'>
        <div class="row">


        </div>


        <div class="row flex-vertical-center">
            <div style="margin-top:20px;" class="col-md-6">
                <span class="sub-title">我想赠送的书籍  共 {{ lists | length }}  本</span>
                <hr>
            </div>
        </div>
        {% for bb in lists %}



            <div class="row my-gifts-row">
                <a href="{% url 'app:detail' %}?id={{ bb.bookid.id }}" class="">
                    <div style="margin-bottom:30px; display: flex; justify-content: space-between"
                         class="col-md-9 col-padding content-box">
                        <div style="display: flex; justify-content: flex-start; flex-grow: 1">
                            <div class="col-md-2 img-box">
                                <img class="book-img-small shadow" src="/static/upload/{{ bb.bookid.image }}">
                            </div>
                            <div style="margin-top:6px;" class="col-md-6 flex-vertical">
                            <span id="title"
                                  class="book-middle-title">{{ bb.bookid.bname }}</span>
                                <div style="margin-top:6px;"
                                     class="flex-vertical description-font">
                                    <span id="author">{{ bb.bookid.author }}</span>
                                    <span id="publisher">{{ bb.bookid.publisher }}</span>
                                    <span id="price">￥{{ bb.bookid.price }}元</span>
                                    <span id="isbn">{{ bb.bookid.isbn }}</span>
                                </div>
                                <a class="link-normal"
                                   href="{% url 'app:repeal' %}?id={{ bb.bookid.id }}">
                                    撤销
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 flex-vertical" style="padding: 0">

                            <a href="{% url 'app:detail' %}?id={{ bb.bookid.id }}">
                                <span class="bg-info">{{ bb.bookid.id | fetch:a }}人想要</span>

                            </a>

                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}


    </div>
{% endblock %}
{% block jss %}





    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/base.js"></script>
    <script>
        $SCRIPT_ROOT = "";
    </script>

    <script src="/static/js/util.js"></script>
    <script src="/static/js/search_result.js"></script>

{% endblock %}
