{% extends 'base.html' %}



{% block css %}

    <link rel="stylesheet"
          href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="shortcut icon"
          href="/static/images/icon.png">

{% endblock %}

{% block quanbu %}




    <div class='container'>
        <div class="row">



            {% if msg %}
                <div class="alert alert-warning" role="alert">{{ msg }}</div>
            {% endif %}
        </div>

        <div class="row white-bg-margin">
            <div class="col-md-6 col-md-offset-3">
                <div class="col-md-2">
                    <a onclick="window.history.go(-1)" href="#">返回</a>
                </div>
                <div class="bg-container">

                    <div class="row">

                        <div class="col-md-4 col-md-offset-4 text-center">
                            <span class="big-title">鱼 书</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 flex-vertical input-margin">
                            <form action="{% url 'app:password' %}" method="post" id="form1">
                                {% csrf_token %}
                                <input id="old_password" name="old_password" type="password"
                                       placeholder="原密码"
                                       class="form-control none-input"/>
                                <input name="new_password1" type="password"
                                       placeholder="新密码"
                                       class="form-control none-input"/>
                                <input name="new_password2" type="password"
                                       placeholder="请确认新密码"
                                       class="form-control none-input"/>
                                <input name="email" type="text"
                                       placeholder="请输入邮箱"
                                       class="form-control none-input" value="{{ user.0.email }}" readonly/>
                                <input name="email_code" type="text"
                                       placeholder="请输入验证码"
                                       class=" none-input" style="width: 50%"/>
                                <button style="margin:5px;float: right;width: 40%;height: 34px">获取验证码</button>
                                <input style="margin-top:15px;clear: right" id="btn-submit"
                                       type="submit"
                                       class="btn btn-big btn-block" value="提交">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
<div id="footer" class="flex-hor-center">
    <span>© 2017-2020 yushu.im created by 七月</span>
</div>



{% block jss %}


    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/base.js"></script>
    <script>
        $SCRIPT_ROOT = "";
    </script>
    <script>
        $('button').click(function (ev) {
            ev.preventDefault();
            $.post("{% url 'app:send_emails' %}", $('#form1').serialize())
        })
    </script>
{% endblock %}

