{% extends 'base.html' %}
{% load static %}

{% block css %}





    <link rel="stylesheet"
          href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="shortcut icon"
          href="/static/images/icon.png">

    <link rel="stylesheet" href="/static/css/pending.css">
{% endblock %}

{% block content %}



    <div class='container'>
        <div class="row">


        </div>

        <div class="row module-title">
            <div style="margin-top:30px;" class="col-md-2">
                <span class='sub-title'>交易记录</span>
            </div>
        </div>
        {% for pending  in pending %}

            <div style="margin-top:20px;" class="row drift-container">
                <div class="col-md-12  col-xs-12">
                    <div class="row my-pending-row">
                        <div class="col-md-2 col-xs-3 le-col">
                            <img class="book-img-small shadow" src="/static/upload/{{ pending.bookid.image }}">
                        </div>
                        <div
                                class="col-md-8 col-xs-7 flex-vertical description">
                            <div><span>书籍名：</span><span>{{ pending.bookid.bname }}</span></div>
                            <div><span>作者：</span><span>{{ pending.bookid.author }}</span></div>
                            <div><span>发起日期：</span><span>{{ pending.times | date:'Y-m-d H:i:s' }}</span></div>
                            <div>

                                <span>向他请求：</span>

                                <span>{{ pending.tname }}</span>

                            </div>
                            <div><span>状态：</span>
                                {% if pending.state == 1 %}
                                    <span class="status-color">等待对方邮寄</span>
                                {% elif pending.state == 2 %}
                                    <span class="status-color">待支付</span>
                                {% elif pending.state == 0 %}
                                    <span class="status-color">已取消订单</span>
                                {% endif %}

                            </div>
                            <div><span>收件人：</span>
                                <span class="space">{{ pending.recipients }}</span>
                            </div>
                            <div><span>邮寄地址：</span>
                                <span>{{ pending.address }}</span>
                            </div>
                            <div><span>联系电话：</span><span>{{ pending.phone }}</span></div>
                            {% if pending.state == 2 %}
                                <span class="btn-normal" style="border-radius: 5px"> <a href="{% url 'app:pay' %}?id={{ pending.id }}" style="padding-left: 250px;color: white">去支付</a></span>
                                {#                                <button  id="btnn" >去支付</button>#}
{#                                <form action="#" >#}
                                {#                                {% csrf_token %}#}
{#                               <input type="button" id="xixi" value="去支付" style="margin-top: 10px">#}
{#                                                                </form>#}
{#                                <a href="#">#}
{#                                    <span id="btnn">去支付</span>#}
{#                                </a>#}
                            {% endif %}
{#                            <script>#}
{#                                $(function () {#}
{#                                    $('#xixi').click(function () {#}
{#                                        var id = '{{ pending.id }}';#}
{#                                        var req_data = {#}
{#                                            id: id,#}
{#                                            csrfmiddlewaretoken: "{{ csrf_token }}"#}
{#                                        };#}
{#                                        $.post("app/pay/", req_data, function (data) {#}
{#                                            window.open(data.url)#}
{#                                        });#}
{#                                        $.get("app/check_pay/?id="  + id, function (data) {#}
{#                                            if (0 == data.code) {#}
{#                                                // 支付成功#}
{#                                                alert("支付成功");#}
{#                                                location.reload();#}
{#                                            } else {#}
{#                                                alert(data.message)#}
{#                                            }#}
{#                                        })#}
{#                                    })#}
{#                                })#}
{#                            </script>#}
                        </div>
                        <div class="col-md-2 col-xs-2 flex-vertical ri-col">

                            {% if pending.state == 1 %}
                                <a href="#">
                                    <span class="btn-normal">催 单</span>
                                </a>
                            {% elif pending.state == 2 %}
                                <a href="{% url 'app:pending_repeal' %}?id={{ pending.id }}">
                                    <span class="btn-normal">撤 销</span>
                                </a>
                            {% endif %}


                        </div>
                    </div>
                    <div style="margin-top:20px;" class="row message-container">
                        <div class="col-md-12">


                            <p><span
                                    class="message-flag">你的留言：</span>
                                <span>{{ pending.message }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
{% block jss %}




    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/base.js"></script>
    <script>
        $SCRIPT_ROOT = "";
    </script>

{% endblock %}
