{% extends 'base.html' %}


{% block css %}






    <link rel="stylesheet"
          href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="shortcut icon"
          href="/static/images/icon.png">

    <link rel="stylesheet" href="/static/css/search-result.css">

{% endblock %}










{% block content %}


<div class='container'>
    <div class="row">




    </div>


    <div style="margin-top:20px;" class="row flex-vertical-center">
        <div class="col-md-6">
            <span class="sub-title">搜索 <span class="space highlight"
                                             id="keyword">{{ q }}</span>的结果</span>
        </div>
        <div class="col-md-3 col-md-offset-3">
            <span class="sub-title"> 共 <span class="space"
                                             id="total">{{ num }}</span> 条记录</span>
        </div>
    </div>
    <hr>



        {% for ss in soushuo %}
            <div class="row col-padding">
                <a href="{% url 'app:detail' id=ss.id %}" class="">
                    <div class="col-md-2">
                        <img class="book-img-small shadow" src="{{ a }}{{ ss.image }}">
                    </div>
                    <div class="col-md-7 flex-vertical description-font">
                        <span class="title">{{ ss.bname }}</span>

                        <span>{{ ss.author }} / {{ ss.publisher}} / ￥{{ ss.price }}</span>
                        <span class="summary">{{ ss.intro }}</span>
                    </div>
                </a>
            </div>
        {% endfor %}


    <div class="row">
        <div class="flex-hor-center">
            <ul class="pagination" id="pagination"></ul>
        </div>
    </div>

</div>
{% endblock %}
<div id="footer" class="flex-hor-center">
    <span>© 2017-2020 yushu.im created by 七月</span>
</div>
{% block jss %}





    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/base.js"></script>
    <script>
        $SCRIPT_ROOT = "";
    </script>

    <script src="/static/js/jquery.twbsPagination.min.js"></script>
    <script src="/static/js/util.js"></script>
    <script src="/static/js/search_result.js"></script>


{% endblock %}