{% extends 'index.html' %}
{% block index %}
    <div id="wp" class="wp">
        <div id="pt" class="bm cl">
            <div class="z">
                <a href="{{ url_for('bbs.index') }}" class="nvhm" title="首页 - 10分钟学院">首页 - 10分钟学院</a><em>&raquo;</em><a
                    href="{{ url_for('bbs.index') }}">论坛</a>
            </div>
            <div class="z"></div>
        </div>

        <div id="ct" class="wp cl">
            <div id="chart" class="bm bw0 cl">
                <div class="y">
                    <p class="chart z">
                        帖子: <em>16</em><span class="pipe">|</span>
                        会员: <em>17</em><span class="pipe">|</span>
                        欢迎新会员: <em>嘻嘻嘻</em>
                    </p>
                </div>
            </div>

            <div class="mn">
                <div class="fl bm">
                    <!--板块 start-->
                    {% for bk in bkk %}
                        {#     parentid是0的是大版块               #}
                        {% if bk.cid == id %}
                            <div class="bm bmw  cl">
                                <div class="bm_h cl">
                                    <h2><a href="{{ url_for('bbs.index',id=bk.cid) }}">{{ bk.classname }}</a></h2>
                                </div>

                                {% for small in smalls %}
                                    {% if small.classpath == id %}
                                        <div id="category_1" class="bm_c">
                                            <table cellspacing="0" cellpadding="0" class="fl_tb">
                                                <tr>
                                                    <td class="fl_icn">
                                                        <a href="{{ url_for('bbs.list',id= small.cid ) }}"><img
                                                                src="{{ url_for('static',filename='index/images/forum.gif') }}"
                                                                alt="内核源码"/></a>
                                                    </td>
                                                    <td>
                                                        <h2><a href="{{ url_for('bbs.list',id= small.cid ) }}"
                                                               style="color:">{{ small.classname }}</a></h2>
                                                        <p class="xg2"></p>
                                                        <p>版主: <span class="xi2">{{ small.compere }}</span></p>
                                                    </td>
                                                    <td class="fl_i">
                                                        <span class="xi2">17</span><span class="xg1"> / 15</span>
                                                    </td>
                                                    <td class="fl_by">
                                                        <div>
                                                            <a href="detail.php?id=31" class="xi2">sfsdfsdfsd</a>
                                                            <cite><span
                                                                    title="2019-06-11">1天前</span> admin</cite></div>
                                                    </td>
                                                </tr>

                                            </table>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <div class="bm bmw  cl">
                        <div class="bm_h cl">
                            <h2><a href="index.php?bigid=10"></a></h2>
                        </div>
                        <div id="category_1" class="bm_c">
                            <table cellspacing="0" cellpadding="0" class="fl_tb">
                            </table>
                        </div>
                    </div>
                    <!--板块 end-->
                </div>

                <div class="bm lk">
                    <div id="category_lk" class="bm_c ptm">
                        <ul class="m mbn cl">
                            <li class="lk_logo mbm bbda cl">
                                <img src="../static/index/images/logo_88_31.gif" border="0" alt="官方论坛"/>
                                <div class="lk_content z">
                                    <h5><a href="http://www.discuz.net" target="_blank">官方论坛</a></h5>
                                    <p>提供最新 Discuz! 产品新闻、软件下载与技术交流</p>
                                </div>
                        </ul>

                        <ul class="x mbm cl">
                            <li><a href="http://www.baidu.com" target="_blank" title="百度">百度</a></li>
                            <li><a href="http://www.sina.com/" target="_blank" title="漫游平台">漫游平台</a></li>
                            <li><a href="http://www.163.com/" target="_blank" title="Yeswan">Yeswan</a></li>
                            <li><a href="http://www.5d6d.com/" target="_blank" title="我的领地">我的领地</a></li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}